---
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('essay', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })

  return allBlogPosts.map(({ slug, render, data }) => ({
    params: {
      slug,
    },
    props: Object.assign(data, {
      render,
    }),
  }))
}

const { render, title, lang = 'en' } = Astro.props

const { Content } = await render()
---

<MarkdownLayout
  lang={lang === 'zh' ? 'zh-CN' : 'en-US'}
  title={`${title} | Fwio`}
>
  <h1 class="text-2xl font-semibold text-pretty md:text-3xl">{title}</h1>
  <Content />
</MarkdownLayout>
